In [1]:
#-------------------------Note: All The "file path" is hardcoded so update the path to run seamlessely--------------------#

In [2]:
#-------------------------Data Cleaning and Half-lives Calculation For Time Course 1--------------------#

In [3]:
import pandas as pd

# Load the dataset
file_path = "Assignment-2_Decay Timecourse_Data.csv"  #Ensure to update the file path
data = pd.read_csv(file_path)

data.head(11)

,Time course #,timecourse1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,timecourse3,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,YORF,0.0,5.000000,10.000000,15.000000,20.000000,30.000000,40.000000,50.000000,60.000000,...,60.000000,0.0,5.000000,10.000000,15.000000,20.000000,30.000000,40.000000,50.000000,60.000000
1,YAL026C,1.0,0.703032,NaN,NaN,NaN,0.713088,0.332218,0.215325,0.226495,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,YDR148C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.374799,1.0,0.968435,NaN,0.551961,0.430054,0.483829,0.398754,0.223900,0.246680
3,YIL125W,1.0,1.176639,0.823170,0.556528,NaN,0.712678,0.427962,0.320204,0.276578,...,NaN,1.0,0.830889,0.577928,0.812495,0.591393,0.564740,0.450448,0.494973,0.374799
4,YLR240W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,0.930606,NaN,0.637943,NaN,0.610046,0.340338,0.260625,NaN
5,YCL009C,1.0,0.626750,0.447430,0.486972,NaN,NaN,0.418719,0.183462,0.233646,...,NaN,1.0,1.152875,NaN,0.913363,0.751150,0.895631,0.626647,0.487510,0.401250
6,YMR108W,1.0,0.748647,0.690639,0.552425,NaN,0.513108,0.390073,0.402923,0.158192,...,NaN,1.0,0.904075,0.701664,0.714649,0.596989,0.467671,0.298200,0.256532,0.281373
7,YNR044W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.321450,1.0,0.680796,NaN,0.626540,NaN,0.385339,0.269533,0.249150,0.178541
8,YGL032C,1.0,NaN,NaN,NaN,0.795404,0.474981,0.625376,NaN,0.016105,...,NaN,1.0,0.838209,0.817492,0.729298,0.639403,0.542782,0.358019,0.171955,NaN
9,YMR261C,1.0,NaN,0.656112,0.712989,NaN,0.724845,0.431831,NaN,NaN,...,0.948629,1.0,1.068143,0.797238,0.921916,0.859806,0.821146,0.638369,0.453736,0.638369
10,YBR126C,1.0,NaN,1.162607,NaN,0.986564,0.696035,0.500221,NaN,0.230147,...,1.087980,1.0,1.086637,1.089857,NaN,1.124215,NaN,0.786502,0.683557,0.316881

In [4]:
import pandas as pd

# Load the dataset
file_path = "Assignment-2_Decay Timecourse_Data.csv"    # Ensure to update the path

data = pd.read_csv(file_path)

In [5]:
# Extract Timecourse 1 data along with gene identifiers
timecourse1_data = data.loc[:, 'Time course #':'Unnamed: 9']

# Set the 'Time course #' column as the DataFrame index
timecourse1_data.set_index('Time course #', inplace=True)

# Converting the time points to numeric values for interpolation
timecourse1_data = timecourse1_data.apply(pd.to_numeric, errors='coerce')

# Drop rows with all NaN values in Timecourse 1
timecourse1_data_clean = timecourse1_data.dropna(how='all')

# Interpolating the missing values for the genes 
timecourse1_data_interpolated = timecourse1_data_clean.interpolate(method='linear', axis=1, limit_direction='both')

print(timecourse1_data_interpolated.head(11))

# Get the number of rows in the DataFrame
total_rows = timecourse1_data_interpolated.shape[0]  

print(f"Total rows: {total_rows}")

               timecourse1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
Time course #
YORF                   0.0    5.000000   10.000000   15.000000   20.000000
YAL026C                1.0    0.703032    0.705546    0.708060    0.710574
YIL125W                1.0    1.176639    0.823170    0.556528    0.634603
YCL009C                1.0    0.626750    0.447430    0.486972    0.464221
YMR108W                1.0    0.748647    0.690639    0.552425    0.532767
YGL032C                1.0    0.948851    0.897702    0.846553    0.795404
YMR261C                1.0    0.828056    0.656112    0.712989    0.718917
YBR126C                1.0    1.081304    1.162607    1.074586    0.986564
YDR074W                1.0    1.064050    1.128099    1.201044    1.079346
YML100W                1.0    1.000000    1.000000    1.000000    1.000000
YPL074W                1.0    0.752223    0.710818    0.783052    0.814969

               Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9
Time course #
YORF            30.000000   40.000000   50.000000   60.000000
YAL026C          0.713088    0.332218    0.215325    0.226495
YIL125W          0.712678    0.427962    0.320204    0.276578
YCL009C          0.441470    0.418719    0.183462    0.233646
YMR108W          0.513108    0.390073    0.402923    0.158192
YGL032C          0.474981    0.625376    0.320740    0.016105
YMR261C          0.724845    0.431831    0.431831    0.431831
YBR126C          0.696035    0.500221    0.365184    0.230147
YDR074W          0.715796    0.578502    0.461965    0.396040
YML100W          1.000000    1.000000    1.000000    1.000000
YPL074W          0.713795    0.612622    0.442903    0.258529
Total rows: 5369

In [6]:
# Save the interpolated Timecourse 1 data to a new CSV file
output_file_path = 'Timecourse1_Interpolated_Data.csv'
timecourse1_data_interpolated.to_csv(output_file_path)
output_file_path

print("Timecourse1_Interpolated_Data Saved Successfully")

Timecourse1_Interpolated_Data Saved Successfully

In [7]:
import pandas as pd

# Load the dataset
file_path = "Timecourse1_Interpolated_Data.csv"  # Ensure the path is correct
data = pd.read_csv(file_path)

# Exclude the 'YORF' row 
data_filtered = data[data['Time course #'] != 'YORF']  

# Identify and remove rows where all values are 1
data_filtered = data_filtered.loc[~(data_filtered.iloc[:, 1:] == 1).all(axis=1)]
print(data_filtered.head(7))

total_rows = data_filtered.shape[0]  
print(f"Total rows: {total_rows}")


# Save the cleaned data to a new CSV file
output_file_path = "Cleaned_Timecourse1_Data.csv"
data_filtered.to_csv(output_file_path, index=False)

print("Cleaned_Timecourse1_Data Saved")

  Time course #  timecourse1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
1       YAL026C          1.0    0.703032    0.705546    0.708060    0.710574
2       YIL125W          1.0    1.176639    0.823170    0.556528    0.634603
3       YCL009C          1.0    0.626750    0.447430    0.486972    0.464221
4       YMR108W          1.0    0.748647    0.690639    0.552425    0.532767
5       YGL032C          1.0    0.948851    0.897702    0.846553    0.795404
6       YMR261C          1.0    0.828056    0.656112    0.712989    0.718917
7       YBR126C          1.0    1.081304    1.162607    1.074586    0.986564

   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9
1    0.713088    0.332218    0.215325    0.226495
2    0.712678    0.427962    0.320204    0.276578
3    0.441470    0.418719    0.183462    0.233646
4    0.513108    0.390073    0.402923    0.158192
5    0.474981    0.625376    0.320740    0.016105
6    0.724845    0.431831    0.431831    0.431831
7    0.696035    0.500221    0.365184    0.230147
Total rows: 5348
Cleaned_Timecourse1_Data Saved

In [8]:
import numpy as np
import pandas as pd
from scipy.optimize import curve_fit

# Defining the exponential decay function:
def exp_decay(t, k):
    """Exponential decay function."""
    return np.exp(-k * t)

# Update the file path 
file_path = "Cleaned_Timecourse1_Data.csv"

# Loading the data
data = pd.read_csv(file_path)

if 'YORF' in data.iloc[:, 0].values:
    data = data[data.iloc[:, 0] != 'YORF']

# Assuming the first column now correctly represents gene names after 'YORF' exclusion
genes = data.iloc[:, 0].values
time_points = np.array([0, 5, 10, 15, 20, 30, 40, 50, 60])

half_lives_timecourse1 = []

# Iterate over each gene to calculate the half-life
for gene_index in range(len(genes)):
    gene_data = data.iloc[gene_index, 1:].astype(float).values  
    gene_data_timecourse1 = gene_data[:9]  

    try:
        # Fit the exponential decay model to the data
        popt, _ = curve_fit(exp_decay, time_points, gene_data_timecourse1, maxfev=10000)
        half_life = np.log(2) / popt[0]  # Calculate the half-life
        half_lives_timecourse1.append(half_life)
    except RuntimeError as e:
        print(f"Curve fitting failed for gene at index {gene_index} ({genes[gene_index]}): {e}")
        half_lives_timecourse1.append(np.nan)  

# Create a DataFrame to store the results
results_df = pd.DataFrame({
    'Gene': genes,
    'Half-life Time Course 1': half_lives_timecourse1
})

print(results_df.head(11))


# Save the results
output_path = "Half_Lives_TimeCourse1_Results.csv"
results_df.to_csv(output_path, index=False)

total_rows = results_df.shape[0]  
print(f"Total rows: {total_rows}")


print("Half_Lives_TimeCourse1_Results is Successfully Saved")

C:\Users\mmsid\AppData\Local\Temp\ipykernel_36308\3879622021.py:8: RuntimeWarning: overflow encountered in exp
  return np.exp(-k * t)
C:\Users\mmsid\Downloads\python\Lib\site-packages\scipy\optimize\_minpack_py.py:906: OptimizeWarning: Covariance of the parameters could not be estimated
  warnings.warn('Covariance of the parameters could not be estimated',

       Gene  Half-life Time Course 1
0   YAL026C                29.745003
1   YIL125W                34.381384
2   YCL009C                19.323918
3   YMR108W                25.837295
4   YGL032C                34.308161
5   YMR261C                40.468749
6   YBR126C                50.214899
7   YDR074W                67.340268
8   YPL074W                43.106934
9   YLR102C                24.993181
10  YNL172W                 9.685611
Total rows: 5348
Half_Lives_TimeCourse1_Results is Successfully Saved

In [10]:
#-------------------------Data Cleaning and Half-lives Calculation For Time Course 2--------------------#

In [11]:
import pandas as pd

# Load the dataset
file_path = "Assignment-2_Decay Timecourse_Data.csv"   # Ensure path is correct
data = pd.read_csv(file_path)

In [12]:
# Extracting the Timecourse 2 data 

timecourse2_columns_start = data.columns.get_loc("Unnamed: 9") + 1
timecourse2_data = data.iloc[:, [0] + list(range(timecourse2_columns_start, timecourse2_columns_start + 9))]

# Set the 'Time course #' column as the DataFrame index
timecourse2_data.set_index('Time course #', inplace=True)

# Convert the time points to numeric values for interpolation
timecourse2_data = timecourse2_data.apply(pd.to_numeric, errors='coerce')

# Drop rows with all NaN values in Timecourse 2
timecourse2_data_clean = timecourse2_data.dropna(how='all')

# Interpolate missing values for genes with partial data
timecourse2_data_interpolated = timecourse2_data_clean.interpolate(method='linear', axis=1, limit_direction='both')

print(timecourse2_data_interpolated.head(11))

# Print the total number of rows for Timecourse 2
total_rows_timecourse2 = timecourse2_data_interpolated.shape[0]
print(f"Total rows in Timecourse 2: {total_rows_timecourse2}")

               timecourse2  Unnamed: 11  Unnamed: 12  Unnamed: 13  \
Time course #
YORF                   0.0     5.000000    10.000000    15.000000
YAL026C                1.0     1.160240     0.980335     0.800430
YDR148C                1.0     0.830889     0.577928     0.812495
YIL125W                1.0     0.978603     0.574234     0.655818
YLR240W                1.0     0.952930     0.979575     0.700356
YCL009C                1.0     0.869114     0.738228     0.709373
YMR108W                1.0     0.846377     0.532550     0.638391
YNR044W                1.0     0.763999     0.572982     0.424648
YMR261C                1.0     1.085367     1.193597     0.734137
YBR126C                1.0     0.997373     0.994746     0.992119
YDR074W                1.0     1.028575     1.057149     1.085724

               Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18
Time course #
YORF             20.000000    30.000000    40.000000    50.000000    60.000000
YAL026C           1.129715     0.645523     0.344193     0.635076     0.635076
YDR148C           0.591393     0.564740     0.450448     0.494973     0.374799
YIL125W           0.685354     0.705738     0.403536     0.480144     0.480144
YLR240W           0.811514     0.922672     0.487094     0.487094     0.487094
YCL009C           0.961340     0.889658     0.433819     0.433819     0.433819
YMR108W           0.714314     0.563702     0.413091     0.509960     0.509960
YNR044W           0.401250     0.650358     0.444799     0.623813     0.321450
YMR261C           0.839634     0.945131     0.786589     0.884853     0.948629
YBR126C           0.989493     0.986866     0.984239     0.958961     1.087980
YDR074W           1.114299     1.142874     1.171448     1.200023     1.200023
Total rows in Timecourse 2: 5394

In [13]:
# Save the results
output_path_tc2 = "Cleaned_Interpolated_Timecourse2_Data.csv"

timecourse2_data_interpolated.to_csv(output_path_tc2, index=True) 

print("Cleaned_Interpolated_Timecourse2_Data Saved Successfully")

Cleaned_Interpolated_Timecourse2_Data Saved Successfully

In [14]:
import pandas as pd

# Load the dataset
file_path = "Cleaned_Interpolated_Timecourse2_Data.csv"   # Ensure path is correct
data = pd.read_csv(file_path)

# Exclude the 'YORF' row 
data_filtered = data[data['Time course #'] != 'YORF']  

# Identify and remove rows where all values are 1
data_filtered = data_filtered.loc[~(data_filtered.iloc[:, 1:] == 1).all(axis=1)]

print(data_filtered.head(7))

total_rows = data_filtered.shape[0]  

print(f"Total rows: {total_rows}")


# Save the cleaned data to a new CSV file
output_file_path = "Cleaned_Timecourse2_Data.csv"
data_filtered.to_csv(output_file_path, index=False)
print("Cleaned_Timecourse2_Data Saved")

  Time course #  timecourse2  Unnamed: 11  Unnamed: 12  Unnamed: 13  \
1       YAL026C          1.0     1.160240     0.980335     0.800430
2       YDR148C          1.0     0.830889     0.577928     0.812495
3       YIL125W          1.0     0.978603     0.574234     0.655818
4       YLR240W          1.0     0.952930     0.979575     0.700356
5       YCL009C          1.0     0.869114     0.738228     0.709373
6       YMR108W          1.0     0.846377     0.532550     0.638391
7       YNR044W          1.0     0.763999     0.572982     0.424648

   Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18
1     1.129715     0.645523     0.344193     0.635076     0.635076
2     0.591393     0.564740     0.450448     0.494973     0.374799
3     0.685354     0.705738     0.403536     0.480144     0.480144
4     0.811514     0.922672     0.487094     0.487094     0.487094
5     0.961340     0.889658     0.433819     0.433819     0.433819
6     0.714314     0.563702     0.413091     0.509960     0.509960
7     0.401250     0.650358     0.444799     0.623813     0.321450
Total rows: 5146
Cleaned_Timecourse2_Data Saved

In [15]:
import numpy as np
import pandas as pd
from scipy.optimize import curve_fit

# Defining the exponential decay function:
def exp_decay(t, k):
    """Exponential decay function."""
    return np.exp(-k * t)

file_path = "Cleaned_Timecourse2_Data.csv"    # Ensure the file path is correct
data = pd.read_csv(file_path)

genes = data.iloc[:, 0].values  
time_points = np.array([0, 5, 10, 15, 20, 30, 40, 50, 60])

half_lives_timecourse2 = []

# Iterate over each gene to calculate the half-life
for gene_index in range(len(genes)):
    gene_data = data.iloc[gene_index, 1:].astype(float).values  
    gene_data_timecourse2 = gene_data  

    try:
        # Fit the exponential decay model to the Timecourse 2 data
        popt2, _ = curve_fit(exp_decay, time_points, gene_data_timecourse2, maxfev=10000)
        half_life2 = np.log(2) / popt2[0]
        half_lives_timecourse2.append(half_life2)
    except RuntimeError:
        half_lives_timecourse2.append(np.nan)

        
# DataFrame to store the results
results_df = pd.DataFrame({
    'Gene': genes,
    'Half-life Time Course 2': half_lives_timecourse2
})

print(results_df.head(11))

# Save the file
output_path = "Half_Lives_Timecourse 2_Results.csv"
results_df.to_csv(output_path, index=False)

total_rows = results_df.shape[0]  

print(f"Total rows: {total_rows}")

print("Half_Lives_Timecourse 2_Results Successfully")

C:\Users\mmsid\AppData\Local\Temp\ipykernel_36308\1197314750.py:8: RuntimeWarning: overflow encountered in exp
  return np.exp(-k * t)

       Gene  Half-life Time Course 2
0   YAL026C                67.242090
1   YDR148C                36.266617
2   YIL125W                40.482328
3   YLR240W                56.789382
4   YCL009C                50.013071
5   YMR108W                38.222684
6   YNR044W                30.950411
7   YMR261C               249.873430
8   YBR126C             -3568.055011
9   YDR074W              -190.818031
10  YML100W               241.373181
Total rows: 5146
Half_Lives_Timecourse 2_Results Successfully

C:\Users\mmsid\Downloads\python\Lib\site-packages\scipy\optimize\_minpack_py.py:906: OptimizeWarning: Covariance of the parameters could not be estimated
  warnings.warn('Covariance of the parameters could not be estimated',

In [16]:
#-------------------------Data Cleaning and Half-lives Calculation For Time Course 3--------------------#

In [17]:
import pandas as pd

# Load the dataset
file_path = "Assignment-2_Decay Timecourse_Data.csv" # Ensure path is correct
data = pd.read_csv(file_path)

In [18]:
# Identifying Timecourse 3 starts after Timecourse 2

timecourse3_columns_start = data.columns.get_loc("Unnamed: 18") + 1  
timecourse3_data = data.iloc[:, [0] + list(range(timecourse3_columns_start, timecourse3_columns_start + 9))]

# Set the 'Time course #' column as the DataFrame index
timecourse3_data.set_index('Time course #', inplace=True)

# Convert the time points to numeric values for interpolation
timecourse3_data = timecourse3_data.apply(pd.to_numeric, errors='coerce')

# Drop rows with all NaN values in Timecourse 3
timecourse3_data_clean = timecourse3_data.dropna(how='all')

# Interpolate missing values for genes
timecourse3_data_interpolated = timecourse3_data_clean.interpolate(method='linear', axis=1, limit_direction='both')
print(timecourse3_data_interpolated.head(11))

total_rows_timecourse3 = timecourse3_data_interpolated.shape[0]
print(f"Total rows in Timecourse 3: {total_rows_timecourse3}")

               timecourse3  Unnamed: 20  Unnamed: 21  Unnamed: 22  \
Time course #
YORF                   0.0     5.000000    10.000000    15.000000
YDR148C                1.0     0.968435     0.760198     0.551961
YIL125W                1.0     0.830889     0.577928     0.812495
YLR240W                1.0     0.930606     0.784275     0.637943
YCL009C                1.0     1.152875     1.033119     0.913363
YMR108W                1.0     0.904075     0.701664     0.714649
YNR044W                1.0     0.680796     0.653668     0.626540
YGL032C                1.0     0.838209     0.817492     0.729298
YMR261C                1.0     1.068143     0.797238     0.921916
YBR126C                1.0     1.086637     1.089857     1.107036
YDR074W                1.0     1.092640     1.185281     1.162693

               Unnamed: 23  Unnamed: 24  Unnamed: 25  Unnamed: 26  Unnamed: 27
Time course #
YORF             20.000000    30.000000    40.000000    50.000000    60.000000
YDR148C           0.430054     0.483829     0.398754     0.223900     0.246680
YIL125W           0.591393     0.564740     0.450448     0.494973     0.374799
YLR240W           0.623994     0.610046     0.340338     0.260625     0.260625
YCL009C           0.751150     0.895631     0.626647     0.487510     0.401250
YMR108W           0.596989     0.467671     0.298200     0.256532     0.281373
YNR044W           0.505939     0.385339     0.269533     0.249150     0.178541
YGL032C           0.639403     0.542782     0.358019     0.171955     0.171955
YMR261C           0.859806     0.821146     0.638369     0.453736     0.638369
YBR126C           1.124215     0.955359     0.786502     0.683557     0.316881
YDR074W           1.140105     1.117517     1.094929     1.157664     1.157664
Total rows in Timecourse 3: 6059

In [19]:
# Define the output file path for Timecourse 3 data and save the results
output_path_tc3 = "Cleaned_Interpolated_Timecourse3_Data.csv"
timecourse3_data_interpolated.to_csv(output_path_tc3, index=True) 

print("Cleaned_Interpolated_Timecourse3_Data Saved Successfully")

Cleaned_Interpolated_Timecourse3_Data Saved Successfully

In [20]:
import pandas as pd

# Load the dataset
file_path = "Cleaned_Interpolated_Timecourse3_Data.csv"  # Ensure path is correct
data = pd.read_csv(file_path)

# Exclude the 'YORF' row
data_filtered = data[data['Time course #'] != 'YORF'] 

# Identify and remove rows where all values are 1
data_filtered = data_filtered.loc[~(data_filtered.iloc[:, 1:] == 1).all(axis=1)]
print(data_filtered.head(7))


total_rows = data_filtered.shape[0] 
print(f"Total rows: {total_rows}")


# Save the data
output_file_path = "Cleaned_Timecourse3_Data.csv"
data_filtered.to_csv(output_file_path, index=False)
print("Cleaned_Timecourse3_Data Saved")

  Time course #  timecourse3  Unnamed: 20  Unnamed: 21  Unnamed: 22  \
1       YDR148C          1.0     0.968435     0.760198     0.551961
2       YIL125W          1.0     0.830889     0.577928     0.812495
3       YLR240W          1.0     0.930606     0.784275     0.637943
4       YCL009C          1.0     1.152875     1.033119     0.913363
5       YMR108W          1.0     0.904075     0.701664     0.714649
6       YNR044W          1.0     0.680796     0.653668     0.626540
7       YGL032C          1.0     0.838209     0.817492     0.729298

   Unnamed: 23  Unnamed: 24  Unnamed: 25  Unnamed: 26  Unnamed: 27
1     0.430054     0.483829     0.398754     0.223900     0.246680
2     0.591393     0.564740     0.450448     0.494973     0.374799
3     0.623994     0.610046     0.340338     0.260625     0.260625
4     0.751150     0.895631     0.626647     0.487510     0.401250
5     0.596989     0.467671     0.298200     0.256532     0.281373
6     0.505939     0.385339     0.269533     0.249150     0.178541
7     0.639403     0.542782     0.358019     0.171955     0.171955
Total rows: 6010
Cleaned_Timecourse3_Data Saved

In [21]:
import numpy as np
import pandas as pd
from scipy.optimize import curve_fit

def exp_decay(t, k):
    """Exponential decay function."""
    return np.exp(-k * t)

file_path = "Cleaned_Timecourse3_Data.csv"  # Ensure the file path is correct
data = pd.read_csv(file_path)

genes = data.iloc[:, 0].values
time_points = np.array([0, 5, 10, 15, 20, 30, 40, 50, 60])  

half_lives_timecourse3 = []


# Iterate over each gene to calculate the half-life for Timecourse 3
for gene_index in range(len(genes)):
    gene_data = data.iloc[gene_index, 1:].astype(float).values 
    gene_data_timecourse3 = gene_data 

    try:
        # Fit the exponential decay model to the Timecourse 3 data
        popt3, _ = curve_fit(exp_decay, time_points, gene_data_timecourse3, maxfev=10000)
        half_life3 = np.log(2) / popt3[0]  # Calculate the half-life from the decay constant
        half_lives_timecourse3.append(half_life3)
    except RuntimeError:
        half_lives_timecourse3.append(np.nan)

results_df = pd.DataFrame({
    'Gene': genes,
    'Half-life Time Course 3': half_lives_timecourse3
})

print(results_df.head(11))

# Save the file
output_path = "Half_Lives_Timecourse3_Results.csv"
results_df.to_csv(output_path, index=False)


total_rows = results_df.shape[0]
print(f"Total rows: {total_rows}")

print("Half_Lives_Timecourse 3_Results Successfully Saved")

C:\Users\mmsid\AppData\Local\Temp\ipykernel_36308\3869392571.py:7: RuntimeWarning: overflow encountered in exp
  return np.exp(-k * t)

       Gene  Half-life Time Course 3
0   YDR148C                24.584990
1   YIL125W                36.266617
2   YLR240W                29.364785
3   YCL009C                62.103333
4   YMR108W                26.675820
5   YNR044W                20.929135
6   YGL032C                27.235351
7   YMR261C                69.847217
8   YBR126C                97.910287
9   YDR074W              -221.232473
10  YML100W                49.959848
Total rows: 6010
Half_Lives_Timecourse 3_Results Successfully Saved

C:\Users\mmsid\Downloads\python\Lib\site-packages\scipy\optimize\_minpack_py.py:906: OptimizeWarning: Covariance of the parameters could not be estimated
  warnings.warn('Covariance of the parameters could not be estimated',

In [22]:
#-------------------------Calculating the Average Half-Life for all the three time course--------------------#

In [23]:
import pandas as pd
import numpy as np

def load_and_prepare(file_path):
    """Load CSV data, ensuring gene names are used as the index."""
    data = pd.read_csv(file_path)
    return data

# Paths to the half-life CSV files for each time course
file_path_tc1 = "Half_Lives_TimeCourse1_Results.csv"
file_path_tc2 = "Half_Lives_Timecourse 2_Results.csv"
file_path_tc3 = "Half_Lives_Timecourse3_Results.csv"

# Load the half-life results for each time course
data_tc1 = load_and_prepare(file_path_tc1)
data_tc2 = load_and_prepare(file_path_tc2)
data_tc3 = load_and_prepare(file_path_tc3)

# Merge the half-life results on the 'Gene' column, using outer join to include all genes
merged_data = pd.merge(data_tc1, data_tc2, on='Gene', how='outer', suffixes=('_TC1', '_TC2'))
merged_data = pd.merge(merged_data, data_tc3, on='Gene', how='outer')

# Rename the columns
merged_data.rename(columns={
    'Half-life Time Course 1': 'Half-life_TC1',
    'Half-life Time Course 2': 'Half-life_TC2',
    'Half-life Time Course 3': 'Half-life_TC3'}, inplace=True)

# Calculate the average half-life for each gene
merged_data['Average_Half_Life'] = merged_data[['Half-life_TC1', 'Half-life_TC2', 'Half-life_TC3']].mean(axis=1)

# Save the merged data with average half-lives to a new file
output_path = 'Average_Half_Lives_Results.csv'
merged_data.to_csv(output_path, index=False)
print(merged_data.head(7))

total_rows = merged_data.shape[0]
print(f"Total rows: {total_rows}")

print("Average half-lives results successfully saved")

      Gene  Half-life_TC1  Half-life_TC2  Half-life_TC3  Average_Half_Life
0  YAL026C      29.745003      67.242090            NaN          48.493546
1  YIL125W      34.381384      40.482328      36.266617          37.043443
2  YCL009C      19.323918      50.013071      62.103333          43.813441
3  YMR108W      25.837295      38.222684      26.675820          30.245266
4  YGL032C      34.308161            NaN      27.235351          30.771756
5  YMR261C      40.468749     249.873430      69.847217         120.063132
6  YBR126C      50.214899   -3568.055011      97.910287       -1139.976608
Total rows: 6174
Average half-lives results successfully saved

In [24]:
#---------------------Calculating the Top 10% and Bottom 10% Genes for the given yeast transcript--------------------#

In [25]:
import pandas as pd

# Load the Average Half-Lives Results
file_path = 'Average_Half_Lives_Results.csv'  # Ensure the path is correct
data = pd.read_csv(file_path)

# Calculate top 10% and bottom 10% genes
num_genes = int(len(data) * 0.1)

# Sort the DataFrame by 'Average_Half_Life'
sorted_data = data.sort_values(by='Average_Half_Life', ascending=True)

# Top 10% and bottom 10% of genes
top_10_percent = sorted_data.tail(num_genes)
bottom_10_percent = sorted_data.head(num_genes)


print("Top 10% Genes (Sample):")
print(top_10_percent.head(7))  
print(f"Total genes in Top 10%: {top_10_percent.shape[0]}")

print("\nBottom 10% Genes (Sample):")
print(bottom_10_percent.head(7))  
print(f"Total genes in Bottom 10%: {bottom_10_percent.shape[0]}")

# Save theses files
top_10_percent.to_csv("Top_10_Percent_Genes.csv", index=False)
bottom_10_percent.to_csv("Bottom_10_Percent_Genes.csv", index=False)

print(" Top 10% and Bottom 10% File Saved Sucessflly.")

Top 10% Genes (Sample):
         Gene  Half-life_TC1  Half-life_TC2  Half-life_TC3  Average_Half_Life
5585  YDL026W            NaN      98.196165      39.049663          68.622914
3198  YAL048C      53.781272     118.572651      33.544321          68.632748
4895  YHR180W      46.550694      91.608776      67.774647          68.644706
3278  YLR012C      51.858837      84.988439      69.273444          68.706907
4565  YKR101W      83.199977     116.229410       6.924692          68.784693
4226  YKL037W      20.640579     119.344585      66.852311          68.945825
2505  YLR296W      56.338004     115.233300      35.340935          68.970746
Total genes in Top 10%: 617

Bottom 10% Genes (Sample):
         Gene  Half-life_TC1  Half-life_TC2  Half-life_TC3  Average_Half_Life
3154  YNL191W  -5.095155e+06     110.206451            NaN      -2.547523e+06
3698  YPR151C   2.953047e+01 -285293.332969    2198.296459      -9.435517e+04
3234  YPL186C   4.583117e+01 -116567.857575      39.798104      -3.882741e+04
2122  YBR228W   7.914389e+01  -42746.945764      54.426042      -1.420446e+04
5024  YGR248W  -5.609942e+03            NaN            NaN      -5.609942e+03
5203  YIL136W   4.352964e+01  -14027.422630      63.961135      -4.639977e+03
5101  YKR015C   4.227669e+01  -10682.179084      44.313554      -3.531863e+03
Total genes in Bottom 10%: 617
 Top 10% and Bottom 10% File Saved Sucessflly.